description = "Default layout"

[session]
security = "all"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/meta' %}
    </head>
    <body>
        <!-- Header -->
        <header>
            {% partial 'site/header' %}
        </header>

        <!-- Sidebar -->
        <!--<section id="layout-sidebar">
            {% partial 'site/sidebar' %}
        </section>-->

        <!-- Content -->
        <!--<section id="layout-content">-->
            {% page %}
        <!--</section>-->

        <!-- Footer -->
        <!--<footer id="layout-footer">-->
            {% partial 'site/footer' %}
        <!--</footer>-->
        
        <!-- Scripts -->
        {% partial 'site/scripts' %}
    </body>
</html>
