<h4 class="title"><b>Подписаться</b></h4>
<div class="sub-result"></div>
<div class="input-area">
    <form data-request="{{ __SELF__ }}::onAddSubscriber" data-request-update="'{{__SELF__}}::alert': '.sub-result'" data-attach-loading >
        <input class="email-input" type="email" placeholder="Введите Email" name="email">
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
        <button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
    </form>
</div>