[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog/category"

[session]
security = "all"
==
<?php 

?>
==
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="footer-section">
					<a class="logo" href="{{ 'home'|page }}"><img src="{{ this.theme.logo|media }}" alt="Logo Image"></a>
					<ul class="icons">
						{% if this.theme.facebook_url %}
							<li><a href="{{this.theme.facebook_url}}" target="_blank"><span class="iconify" data-icon="ion-logo-facebook" data-inline="false"></span></a></li>
						{% endif %}
						{% if this.theme.twitter_url %}
							<li><a href="{{this.theme.twitter_url}}" target="_blank"><span class="iconify" data-icon="ion-logo-twitter" data-inline="false"></span></a></li>
						{% endif %}
						{% if this.theme.instagram_url %}
							<li><a href="{{this.theme.instagram_url}}" target="_blank"><span class="iconify" data-icon="ion-logo-instagram" data-inline="false"></span></a></li>
						{% endif %}
						{% if this.theme.vk_url %}
							<li><a href="{{this.theme.vk_url}}" target="_blank"><span class="iconify" data-icon="ion-logo-vk" data-inline="false"></span></a></li>
						{% endif %}
						{% if this.theme.pinterest_url %}
							<li><a href="{{this.theme.pinterest_url}}" target="_blank"><span class="iconify" data-icon="ion-logo-pinterest" data-inline="false"></span></a></li>
						{% endif %}
						{% if this.theme.mailru_url %}
							<li><a href="{{this.theme.mailru_url}}" target="_blank"><span class="iconify" data-icon="ion-at-circle-outline" data-inline="false"></span></a>
						{% endif %}
						
					</ul>

				</div>
			</div>
			<div class="col-lg-4 col-md-6">
					<div class="footer-section">
					<h4 class="title"><b>Категории</b></h4>
					
					{% for category in categories|batch(3) %}
						<ul>
							{% for column in category %}
								<li><a href="{{column.url}}">{{column.name}}</a></li>
							{% endfor %}
						</ul>
					{% endfor %}
					
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-section">
        			<div id="fb-root"></div>
			        <div id="user-info"></div>
				</div>
			</div>
			<div class="modal" tabindex="-1" role="dialog" id="login">
			  	<div class="modal-dialog" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
			        		<h5 class="modal-title">Войти с помощью</h5>
			        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          			<span aria-hidden="true">&times;</span>
			        		</button>
			      		</div>
			      		<div class="modal-body">
			        		<p style="text-align: center;">
			        			<a href="#" onClick="loginVk('{{'social'|page({ slug: 'vk' })}}'); return false;"><img src="{{ 'social/vk.png'|media }}"></a>&nbsp;
			        			<a href="#" id="fb-auth"><img src="{{ 'social/fb.png'|media }}"></a>
			        			<a href="#" id="g-auth"><img src="{{ 'social/gp.png'|media }}"></a>
			        			<a href="#"  onClick="loginMailru('{{'social'|page({ slug: 'mailru' })}}'); return false;"><img src="{{ 'social/mailru.png'|media }}"></a>
			        		</p>
			      		</div>
			    	</div>
			  	</div>
			</div>
		</div>
	</div>
</footer>