<script src="https://apis.google.com/js/api:client.js" ></script>
<script src="{{ [
    '@jquery',
    '@framework',
    '@framework.extras',
    'assets/vendor/bootstrap.js',
    'assets/javascript/app.js',
    'assets/ktv/common-js/scripts.js'
]|theme }}"></script>
<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
{% scripts %}
