title = "Page not found (404)"
url = "/404"
layout = "default"
title = "Страница не найдена"
meta_title = "Страница не найдена"

[resources]
js[] = "controls/auto-pager.js"
js[] = "../vendor/isotope/imagesloaded.js"
js[] = "../vendor/isotope/isotope.js"
js[] = "pages/home.js"
less[] = "pages/home.less"
==
<?php
function onStart() 
{
    $this->addCss('assets/ktv/category/css/styles.css');
    $this->addCss('assets/ktv/category/css/responsive.css');
}
?>
==
<div class="jumbotron">
    <div class="container" style="text-align: center;">
    	<div style="font-size: 160px">404</div>
        <h1>Страница не найдена</h1>
        <p>К сожалению данная страница не существует на сайте.</p>
    </div>
</div>