title = "search"
url = "/search"
layout = "default"
description = "Страница поиска"
is_hidden = 0

[resources]
js[] = "controls/auto-pager.js"
less[] = "pages/blog.less"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":q"
postsPerPage = 12
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<?php
public function onPagePosts()
{ 
    $this->blogPosts->setProperty('pageNumber', post('page'));
    $this->pageCycle();
}
function onStart()
{
    $this->addCss('assets/ktv/category/css/styles.css');
    $this->addCss('assets/ktv/category/css/responsive.css');
}
function onEnd(){ 
    $this->page->meta_title = "Поиск - ".input('q');
    //$this->page->meta_description = $this->category->meta_description;
}
?>
==
<div class="slider display-table center-text">
	<h2 class="title display-table-cell"><b>Результаты поиска по запросу: {{ query }}</b></h2>
</div>

<section class="blog-area section">
	<div class="container">
		<div class="row" id="category-posts">
			{% partial 'blog/posts' posts=blogPosts.posts %}
		</div>
		
		{% if posts.lastPage != posts.currentPage%}
		<a class="load-more-btn" href="#" 
                data-attach-loading 
                data-control="auto-pager"
                data-request="onPagePosts"
                data-request-update="'blog/posts': '@#category-posts'"
                data-current-page="1"
                data-last-page="{{ posts.lastPage }}"><b>ПОКАЗАТЬ ЕЩЕ</b></a>
        {% endif %}
	</div>
</section>