title = "author"
url = "/blog/author/:slug/:page?"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
author = "{{ :slug }}"
postsPerPage = 12
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[resources]
js[] = "controls/auto-pager.js"
less[] = "pages/blog.less"
==
<?php
public function onPagePosts()
{ 
    $this->blogPosts->setProperty('pageNumber', post('page'));
    $this->pageCycle();
}
function onStart()
{
    $this->addCss('assets/ktv/category/css/styles.css');
    $this->addCss('assets/ktv/category/css/responsive.css');
}
function onEnd(){ 
    $this->page->meta_title = "Все статьи автора ".$this->user;
    $this->page->meta_description = "Все статьи автора ".$this->user;
}
?>
==
<div class="slider display-table center-text">
	<h2 class="title display-table-cell"><b>Все статьи автора {{ blogPosts.user }}</b></h2>
</div>

<section class="blog-area section">
	<div class="container">
		<div class="row" id="category-posts">
			{% partial 'blog/posts' posts=blogPosts.posts %}
		</div>
		
		{% if posts.lastPage != posts.currentPage%}
		<a class="load-more-btn" href="#" 
                data-attach-loading 
                data-control="auto-pager"
                data-request="onPagePosts"
                data-request-update="'blog/posts': '@#category-posts'"
                data-current-page="1"
                data-last-page="{{ posts.lastPage }}"><b>ПОКАЗАТЬ ЕЩЕ</b></a>
        {% endif %}
	</div>
</section>