title = "Categories"
url = "/categories"
layout = "default"
description = "Page with categories"
meta_title = "Категории"
meta_description = "Категории"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 12
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog/category"

[resources]
js[] = "controls/auto-pager.js"
less[] = "pages/blog.less"
==
<?php
public function onPagePosts()
{ 
    $this->blogPosts->setProperty('pageNumber', post('page'));
    $this->pageCycle();
}
function onStart()
{
    $this->addCss('assets/ktv/front-page-category/css/styles.css');
    $this->addCss('assets/ktv/front-page-category/css/responsive.css');
    $this->addCss('assets/ktv/common-css/swiper.css');

    $this->addJs('assets/ktv/common-js/swiper.js');
    $this->addJs('assets/ktv/common-js/scripts.js');
}
function onEnd(){
	if ($this->category) {
        $this->page->meta_title = $this->category->meta_title;
        $this->page->meta_description = $this->category->meta_description;
    }
}
?>
==
{% partial 'blog/categories' %}

<section class="blog-area section">
	<div class="container">
		<div class="row" id="category-posts">
			{% partial 'home/posts' %}
		</div>
		
		{% if posts.lastPage != posts.currentPage%}
		<a class="load-more-btn" href="#" 
                data-attach-loading 
                data-control="auto-pager"
                data-request="onPagePosts"
                data-request-update="'home/posts': '@#category-posts'"
                data-current-page="1"
                data-last-page="{{ posts.lastPage }}"><b>ПОКАЗАТЬ ЕЩЕ</b></a>
        {% endif %}
	</div>
</section>