title = "tag"
url = "/blog/tag/:slug/:page?"
layout = "default"
description = "Страница тега"
is_hidden = 0

[blogTagSearch]
tag = "{{ :slug }}"
pagination = 1
page = "{{ :page }}"
resultsPerPage = 12
postPage = "blog/post"
categoryPage = "blog/category"

[resources]
js[] = "controls/auto-pager.js"
less[] = "pages/blog.less"
==
<?php
public function onPagePosts()
{   
    $this->blogTagSearch->setProperty('pageNumber', post('page'));
    $this->pageCycle();
}
function onStart()
{
    $this->addCss('assets/ktv/category/css/styles.css');
    $this->addCss('assets/ktv/category/css/responsive.css');
    
}
function onEnd(){ 
	if ($this->blogTagSearch) {
		if($this->blogTagSearch->tag){ 
		    $this->page->meta_title = $this->blogTagSearch->tag->name;
		    $this->page->meta_description = $this->blogTagSearch->tag->name;
		}
	}
}
?>
==
<div class="slider display-table center-text">
	<h1 class="title display-table-cell"><b>{{ blogTagSearch.tag.name }}</b></h1>
</div>
<section class="blog-area section">
	<div class="container">
		<div class="row" id="category-posts">
			{% partial 'blog/posts' %}
		</div>
		
		{% if blogTagSearch.lastPage != blogTagSearch.currentPage%}
		<a class="load-more-btn" href="#" 
                data-attach-loading 
                data-control="auto-pager"
                data-request="onPagePosts"
                data-request-update="'blog/posts': '@#category-posts'"
                data-current-page="1"
                data-last-page="{{ blogTagSearch.lastPage }}"><b>ПОКАЗАТЬ ЕЩЕ</b></a>
        {% endif %}
	</div>
</section>