<div class="blog-image">
	<img src="{{post.image_v|media}}" alt="{{ post.title }}">
</div>
<div class="blog-info">
	{% if post.categories.count %}
	    {% for category in post.categories %}
	        {% if loop.index == 1 %}
	            <h6 class="pre-title"><a href="{{category.url}}"><b>{{category.name}}</b></a></h6>
	        {% endif %}
	    {% endfor %}
	{% endif %}
	
	<h4 class="title">
		<a href="{{ post.url }}">
			<b>{{ post.title }}</b>
		</a>
	</h4>
	<p>
		{{ post.excerpt|raw }}
	</p>
	<div class="avatar-area">
		<a class="avatar" href="{{'blog/author'|page({ slug: post.user_id })}}">
			<img src="{{ post.user.avatar.path }}" alt="{{ post.user.first_name }} {{ post.user.last_name }}">
		</a>
		<div class="right-area">
			<a class="name" href="{{'blog/author'|page({ slug: post.user_id })}}"><b>{{ post.user.first_name }} {{ post.user.last_name }}</b></a>
            <h6 class="date">{{ post.published_at|date('d.m.Y H:i') }}</h6>
		</div>
	</div>
	{% partial 'blog/post-footer' post=post %}
</div>