{% for post in posts %}
    <div class="col-lg-4 col-md-6 {{post.id}}">
        <div class="card h-100">
            <div class="single-post post-style-1">
                {% partial 'blog/post' post=post %}
            </div>
        </div>
    </div>
{% endfor %}