<section class="comment-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                {% partial "commentsPost::form" post=post_id %}

                <h4><b>КОММЕНТАРИИ(<span id="comments-count">{{commentsPost.count}}</span>)</b></h4>

                {% if(commentsPost.count) > 0 %}
                    <div class="comments">
                        {% partial "commentsPost::list" post=commentsPost %}
                    </div>
                {% else %}
                    <div class="comments">
                        <p style="text-align: center; margin-top: 20px" class="empty-comment">Комментарии отсутствуют</p>
                    </div>
                {% endif %}
                
                {% if(commentsPost.count) > 0 %}
                    <a class="load-more-btn more-comment-btn" href="#" 
                        data-attach-loading 
                        data-control="auto-pager"
                        data-request="onPageComments"
                        data-request-update="'commentsPost::list': '@.comments'"
                        data-current-page="1"
                        data-last-page="{{ commentsPost.lastPage }}"><b>ПОКАЗАТЬ ЕЩЕ</b></a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

