<div class="comment" id="comment-{{post.id}}">
    {% if post.parent_id %}
        <h5 class="reply-for">ответ для <b>{{post.parent.name}}</b></h5>
    {% endif %}
    <div class="post-info">
        {% if post.user %}
        <div class="left-area">
            <img src="{{post.user.avatar.path}}" alt="{{post.user.name}}">
        </div>
        {% endif %}
        <div class="middle-area">
            <b>{{post.name}}</b>
            <h6 class="date">{{post.created_at.diffForHumans}}</h6>
        </div>
        {% if user %}
            <div class="right-area">
                <h5 class="reply-btn" ><a href="#" onclick="Comment.replay(event,'{{post.id}}')"><b>Ответить</b></a></h5>
            </div>
        {% endif %}
    </div>
    <p>{{post.content|raw}}</p>
</div>